@import url('https://fonts.googleapis.com/css?family=Arimo:700|Open+Sans:300,400i,600,700|Raleway:300,600');

#tact-btn {  
  background-color: #FF2222;
  border: none;
  border-radius: 30px;
  color: white;
  margin: 5px 5px 5px 10px; 
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  float: right;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .3);
}

.inline {
  display: inline-block;
}

/*******************************************************************/
/* modal */
#tact-modal {
  position: fixed;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(10, 10, 10, 0.5);
  transition: 0.2s ease-in;
}

#tact-modal-in {
  width: 1000px;
  height: 560px;
  background-color: white;
  border-radius: 5px;
  margin: 60px auto;
}

#modal-header {
  width: 100%;
  height: 40px;
  top: 0;
  background-color: #484848;
  border-radius: 5px 5px 0 0;
  border-bottom: solid 4px #B4B4B4;
}

#tact-logo {
  margin-left: 12px;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  line-height: 40px;
  color: #FF2222;
  margin-right: 20px;
}

#tact-logo span {
  font-weight: 300;
}

#slogan {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: grey; 
  letter-spacing: 2px;
  font-size: 15px;
  margin-right: 580px;
}

.modal-close {
  color: #C9C9C9;
  position: absolute;
  display: inline-block;  
  margin-top: 9px;
  width: 1px;
  height: 22px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close:before {
  content: "";
  position: absolute;
  left: -4px;
  top: 12px;
  width: 8px;
  height: 8px;
  border-bottom: solid 1px #C9C9C9;
  border-left: solid 1px #C9C9C9;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-close:after {
  content: "";
  position: absolute;
  left: -4px;
  top: 1px;
  width: 8px;
  height: 8px;
  border-top: solid 1px #C9C9C9;
  border-right: solid 1px #C9C9C9;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*******************************************************************/

#modal-left {
  width: 660px;
  height: 436px;
  padding: 40px 0 40px 40px;
  font-family: 'Open Sans', sans-serif;
/*  transform: translateY(-140px);*/
}

#modal-left-1 {
  position: absolute;
  top: 140px;
  width: 660px;
  height: 120px;
  display: block;
}

#modal-text-instruct {
  margin-bottom: 5px;
  font-size: 13px;
  color: #95989A;
}

#modal-text {
  width: 639px;
  height: 70px;
  font-size: 16px; 
  line-height: 23px;
  margin: 0;
  border-radius: 3px;
  border: solid 0.2px #C1C1C1;
  text-decoration: none;
  resize: none;
  padding: 10px;
  background-color: #F8F8F8;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

#modal-left-2 {
  position: absolute;
  top: 260px;
  width: 651px;
  height: 40px;
  font-size: 14px;
  border-radius: 3px;
  line-height: 40px;
  padding-left: 10px;
  margin-top: 20px;
  display: block;
  -webkit-animation: 0.25s fade_in ease-in forwards;
  -moz-animation: 0.25s fade_in ease-in forwards;
  -ms-animation: 0.25s fade_in ease-in forwards;
  animation: 0.25s fade_in ease-in forwards;
}

#tact-amount {
  margin-right: 6px;
  font-size: 20px;
  font-family: 'Arimo', sans-serif;
  color: #FF2222;
  display: inline-block;
}

#modalLeft_2_text {
  letter-spacing: 0.3px;
  line-height: 40px;
}

.red {
  background-color: #FFE6E6;
  transition: 0.2s ease-in;
}

.blue {
  background-color: #CAF0FF;
  transition: 0.2s ease-in;
}

#face {
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-top: 9px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.face-red {
  border: solid 2px #FF2222;  
}

.face-blue {
  border: solid 2px #31CFFF;  
}

.face-red:before {
  content: '';
  position: absolute;
  right: 23px;
  top: 16px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #FF2222;
}
.face-red:after {
  content: '';
  position: absolute;
  right: 16px;
  top: 16px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #FF2222;
}

.face-blue:before {
  content: '';
  position: absolute;
  right: 23px;
  top: 16px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #31CFFF;
}
.face-blue:after {
  content: '';
  position: absolute;
  right: 16px;
  top: 16px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #31CFFF;
}

.mouth-red {
  position: absolute;
  right: 14px;
  top: 22px;
  width: 10px;
  height: 7px;
  border-radius: 50%;
  border-top: solid 2px #FF2222;
  border-bottom: solid 2px transparent;
  border-left: solid 2px transparent;
  border-right: solid 2px transparent;
}

.mouth-blue {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 10px;
  height: 7px;
  border-radius: 50%;
  border-top: solid 2px transparent;
  border-bottom: solid 2px #31CFFF;
  border-left: solid 2px transparent;
  border-right: solid 2px transparent;
}

#modal-left-3 {
  position: absolute;
  top: 340px;
  width: 680px;
  height: 237px;
  display: block;
  overflow:auto;
  transition: 0.2s ease-in;
}

#modal-hr-v {
  width: 0.5px;
  height: 436px;
  margin: 40px 30px;
  background-color: #BEBEBE;
}

/*******************************************************************/

#modal-right {
  width: 190px;
  height: 436px;
  margin: 40px 40px 40px 0;
}

/*donut chart in modal*/
#modal-right-1 {
  position: absolute;
  top: 160px;
  width: 190px;
  height: 210px;
  margin: 0;
/*  border-bottom: solid 0.5px #BEBEBE;*/
}

/*donut chart content*/
#tactly-chart {
  margin-left: 10px;
}

#chart-info {
  position: absolute;
  top: 30px;
  width: 152px;
  margin-left: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#chart-ratio {
  margin-top: 10px;
  font-size: 55px;
  font-weight: 300;
  line-height: 40px;
}

#chart-ratio-s {
  margin-top: 10px;
  font-size: 55px;
  font-weight: 300;
  line-height: 40px;
}

#chart-ratio span {
  margin-left: 2px;
  font-size: 15px;
} 

#chart-ratio-s span {
  margin-left: 2px;
  font-size: 15px;
} 

#chart-desc {
  font-size: 12px;
  color: #838383;
  width: 100px;
  margin-left: 25px;
  font-weight: 700;
  line-height: 14px;
}

#chart-desc span {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

#modal-confirm {
  position: absolute;
  top: 360px;
  width: 190px;
  height: 25px;
  border-radius: 25px;
  font-size: 13px;
  font-family: 'Arimo', sans-serif;
  text-align: center;
  line-height: 25px;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.confirm-red {
  background-color: transparent;
  color: #FF2222;
  border: 1px solid #FF2222;
  transition: 0.2s ease-in;
}
.confirm-red:hover {
  background-color: #FF2222;
  color: white;
  transition: 0.2s ease-in;
  border: 1px solid #FF2222;
}

.confirm-blue {
  background-color: #31CFFF;
  color: white;
  border: 1px solid #31CFFF;
  transition: 0.2s ease-in;
}
.confirm-blue:hover {
  background-color: transparent;
  color: #31CFFF;
  border: 1px solid #31CFFF;
  transition: 0.2s ease-in;
}

/*******************************************************************/
/* confirm box 1 */
#confirm-one {
  position: fixed;
  z-index: 10001;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(10, 10, 10, 0.5);
}

#confirm-one-in {
  width: 300px;
  height: 420px;
  background-color: white;
  border-radius: 5px;
  margin: 120px auto;
  padding: 20px;
}

/* x.png in confirm one */
#closex-one {
  float: right;
  width: 15px;
  height: 15px;
}

/* text content in confirm one */
#confirm-one-text {
  text-align: center;
}

#confirm-one-title {
	font-size: 24px;
	line-height: 17px;
	font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

#confirm-one-p {
	font-size: 15px;
	line-height: 22px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	width: 240px;
	margin: 0 auto;
	letter-spacing: 0.5px;
}

/* donut chart container */
#confirm-one-d3 {
	width: 170px;
	height: 170px;
	margin: 40px auto;
  transform: translateX(-10px);
}

#chart-info-c1 {
  transform: translateY(-145px);
  width: 152px;
  margin-left: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* confirm one buttons container */
#confirm-one-btns {
  font-size: 13px;
  width: 240px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
}

#confirm-one-back {
  width: 100px;
  height: 20px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  margin-right: 17px;
}

.confirm-one-back-red {
  border: solid 1px #FF2222;
  background-color: #FF2222;
  color: white;
}

.confirm-one-back-blue {
  border: solid 1px #31CFFF;
  background-color: transparent;
  color: #31CFFF;
}

#confirm-one-confirm {
  width: 100px;
  height: 20px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  margin-left: 17px;
}

.confirm-one-confirm-red {
  border: solid 1px #FF2222;
  background-color: transparent;
  color: #FF2222;
}

.confirm-one-confirm-blue {
  border: solid 1px #31CFFF;
  background-color: #31CFFF;
  color: white;
}

/*******************************************************************/
.neg-div {
  width: 324px;
  height: 30px;
  background-color: #F8F8F8;
  display: inline-block;
  border-radius: 3px;
  margin-right: 14px;
  margin-bottom: 16px;
}

.neg-text {
  margin-left: 10px;
  display: inline-block;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.neg-score-num {
  display: inline-block;
  float: right;
  margin-right: 10px;
  font-size: 12px;
  line-height: 30px;
  color: grey;
  letter-spacing: 0.25px;
}

.neg-score {
  display: inline-block;
  float: right;
  height: 5px;
  background-color: #FF2222;
  border-radius: 10px;
  margin: 12.5px;
}

/*******************************************************************/
/*!
 * jQuery highlightTextarea
 * Copyright 2014-2015 Damien "Mistic" Sorel (http://www.strangeplanet.fr)
 * Licensed under MIT (http://opensource.org/licenses/MIT)
 */

.highlightTextarea {
  position:relative;
}
.highlightTextarea .highlightTextarea-container {
  position:absolute;
  margin:0;
  overflow:hidden;
}
.highlightTextarea .highlightTextarea-highlighter {
  position:relative;
  border:none;
  padding:0;
  margin:0;
  color:transparent;
  cursor:text;
  overflow:hidden;
  white-space:pre-wrap;
  word-wrap:break-word;
}
.highlightTextarea.debug .highlightTextarea-highlighter {
  color:#f00;
  border:1px solid #f00;
  margin:-1px;
}
.highlightTextarea mark {
  line-height:25px;
  color:transparent;
  margin:0;
  padding:0;
}
.highlightTextarea textarea,
.highlightTextarea input {
  position:absolute;
  left:0;
  top:0;
  resize:none;
  white-space:pre-wrap;
  word-wrap:break-word;
}
.highlightTextarea .ui-wrapper {
  margin:0 !important;
}
.highlightTextarea .ui-resizable-se {
  bottom:15px;
  right:0px;
}

.highlight{
  background: #fecac6;
}

.fade-in {
   -webkit-animation: 2s fade_in ease-in forwards;
   -moz-animation: 2s fade_in ease-in forwards;
   -ms-animation: 2s fade_in ease-in forwards;
   animation: 2s fade_in ease-in forwards;
}

@-webkit-keyframes fade_in {from { opacity: 0; } to { opacity: 1; }}
@-moz-keyframes fade_in {from { opacity: 0; } to { opacity: 1; }}
@-ms-keyframes fade_in {from { opacity: 0; } to { opacity: 1; }}
@keyframes fade_in {from { opacity: 0; } to { opacity: 1; }}


